{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django</title>
    <link rel="stylesheet" type="text/css" href="{% static "static/css/foundation.css" %}">
</head>
<body>
<div class="top-bar">
    <section class="top-bar-section">
        <ul class="right">
            {% if username %}
                <li><a href="/auth/logout/">Log out({{ username }})</a></li>
            {% else %}
                <li><a href="/auth/login/">Log in</a></li>
            {% endif %}
        </ul>
    </section>
</div>
<h1><a href="/allposts/1/">Мой блог</a></h1>
<div class="row">
{% block post %}{% endblock %}
{% block title %}{% endblock %}
{% block login %}{% endblock %}
</div>
</body>
</html>
